.hidden {
    display: none;
}

#profileButton {
    position: relative;
}

#profileButton,
#profileButton > button {
    display: grid;
    place-items: center;
}

#profileButton > button {
    cursor: pointer;
}

#profileButton > ul {
    background-color: var(--popover);
    color: var(--card-foreground);
    padding: calc(var(--unit) * 4);
    position: absolute;
    top: 2rem;
    right: 0;
    border-radius: var(--radius);
    border: 2px solid var(--border);

    z-index: 9;
}

#profileButton .modal-button {
    white-space: nowrap;
    padding: var(--unit);
}

#createSpotButton {
    margin-top: 2px;
    position: relative;

    a {
        display: block;
        color: var(--color-green-dark);
    }
}

#createSpotButton::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: var(--color-green);
    inset: 51%;
    top: unset;
    bottom: -2px;
    border-radius: var(--radius);
    opacity: 0.1;

    transition:
        inset 0.3s ease-out,
        opacity 0.3s ease-out;
}

#createSpotButton:hover::after {
    inset: 0%;
    opacity: 1;
    top: unset;
    bottom: -2px;
}
